// --------------------------------------------------------------
// Controls
// --------------------------------------------------------------

// Hide native controls
.ggs-plyr--full-ui ::-webkit-media-controls {
    display: none;
}

// Playback controls
.ggs-plyr__controls {
    align-items: center;
    display: flex;
    text-align: center;

    // Spacing
    > .ggs-plyr__control,
    .ggs-plyr__progress,
    .ggs-plyr__time,
    .ggs-plyr__menu {
        margin-left: ($plyr-control-spacing / 2);

        &:first-child,
        &:first-child + [data-plyr='pause'] {
            margin-left: 0;
        }
    }

    .ggs-plyr__volume {
        margin-left: ($plyr-control-spacing / 2);
    }

    @media (min-width: $plyr-bp-sm) {
        > .ggs-plyr__control,
        .ggs-plyr__progress,
        .ggs-plyr__time,
        .ggs-plyr__menu {
            margin-left: $plyr-control-spacing;
        }

        > .ggs-plyr__control + .ggs-plyr__control,
        .ggs-plyr__menu + .ggs-plyr__control,
        > .ggs-plyr__control + .ggs-plyr__menu {
            margin-left: ($plyr-control-spacing / 2);
        }
    }
}

// Video controls
.ggs-plyr--video .ggs-plyr__controls {
    background: linear-gradient(rgba($plyr-video-controls-bg, 0), rgba($plyr-video-controls-bg, 0.7));
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    bottom: 0;
    color: $plyr-video-control-color;
    left: 0;
    padding: ($plyr-control-spacing * 3.5) $plyr-control-spacing $plyr-control-spacing;
    position: absolute;
    right: 0;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    z-index: 2;

    .ggs-plyr__control {
        svg {
            filter: drop-shadow(0 1px 1px rgba(#000, 0.15));
        }

        // Hover and tab focus
        &.ggs-plyr__tab-focus,
        &:hover,
        &[aria-expanded='true'] {
            background: $plyr-video-control-bg-hover;
            color: $plyr-video-control-color-hover;
        }
    }
}

// Audio controls
.ggs-plyr--audio .ggs-plyr__controls {
    background: $plyr-audio-controls-bg;
    border-radius: inherit;
    color: $plyr-audio-control-color;
    padding: $plyr-control-spacing;
}

// Hide controls
.ggs-plyr--video.ggs-plyr--hide-controls .ggs-plyr__controls {
    opacity: 0;
    pointer-events: none;
    transform: translateY(100%);
}

// Some options are hidden by default
.ggs-plyr [data-plyr='captions'],
.ggs-plyr [data-plyr='pip'],
.ggs-plyr [data-plyr='airplay'],
.ggs-plyr [data-plyr='fullscreen'] {
    display: none;
}
.ggs-plyr--captions-enabled [data-plyr='captions'],
.ggs-plyr--pip-supported [data-plyr='pip'],
.ggs-plyr--airplay-supported [data-plyr='airplay'],
.ggs-plyr--fullscreen-enabled [data-plyr='fullscreen'] {
    display: inline-block;
}
