// --------------------------------------------------------------
// Video styles
// --------------------------------------------------------------

.ggs-plyr--video {
    overflow: hidden;

    // Menu open
    &.ggs-plyr--menu-open {
        overflow: visible;
    }
}

.ggs-plyr__video-wrapper {
    background: #000;
    border-radius: inherit;
    overflow: hidden;
    position: relative;
    // Require z-index to force border-radius
    z-index: 0;
}
